<form method="get">
    <h1 style="text-align:center">Tìm kiếm</h1>
    <input class="form-control" type="text" placeholder="Nhập tên bài cần tìm" name="tukhoa" value="@ViewData["bientimkiem"]">
    <button type="submit" value="search" asp-controller="Home" asp-action="TimKiem">Tìm kiếm</button>
    <hr>
</form>
